<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dorms">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DORMS">
        <activity android:name=".View_leave"></activity>
        <activity android:name=".Trans_history" />
        <activity android:name=".Breakfast" />
        <activity android:name=".Change_passwd" />
        <activity android:name=".Forgot_Passwd" />
        <activity android:name=".Leave_apply" />
        <activity android:name=".Complaint" />
        <activity android:name=".Fees" />
        <activity android:name=".Home" />
        <activity android:name=".Login_dorm" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>